ENVIRONMENT:
  MAX_EPISODE_STEPS: 500
SIMULATOR:
  SCENE: data/scene_datasets/mp3d/17DRP5sb8fy/17DRP5sb8fy.glb
  AGENT_0:
    SENSORS: ['RGB_SENSOR', 'DEPTH_SENSOR']
  HABITAT_SIM_V0:
    GPU_DEVICE_ID: 0
  RGB_SENSOR:
    WIDTH: 256
    HEIGHT: 256
  DEPTH_SENSOR:
    WIDTH: 256
    HEIGHT: 256

TASK:
  TYPE: Nav-v0
  SUCCESS_DISTANCE: 0.2

  SENSORS: ['POINTGOAL_WITH_GPS_COMPASS_SENSOR']
  POINTGOAL_WITH_GPS_COMPASS_SENSOR:
    GOAL_FORMAT: "POLAR"
    DIMENSIONALITY: 2
  GOAL_SENSOR_UUID: pointgoal_with_gps_compass

  MEASUREMENTS: ['DISTANCE_TO_GOAL', 'SUCCESS', 'SPL']
  SUCCESS:
    SUCCESS_DISTANCE: 0.2
DATASET:
  TYPE: PointNav-v1
  SPLIT: test
  DATA_PATH: "data/datasets/pointnav/mp3d/v1/{split}/content/17DRP5sb8fy.json.gz" # "data/datasets/pointnav/mp3d/v1/{split}/{split}.json.gz" 
  SCENES_DIR: "data/scene_datasets/"
