<?xml version="1.0"?>
<launch>
	<!-- <arg name="map_path" default="$(find habitat_interface)/data/maps/my_map.yaml"/> -->

    <master auto="start"/>

    <!-- Run the map server -->
    <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)">
    	<param name="frame_id" value="map" />
    </node> -->


	<node pkg="habitat_ros_interface" type="depth_ros.py" name="depth_ros" >
		<remap from="depth_1" to="sim/depth"/>
	</node>

	<node pkg="habitat_ros_interface" type="semantic_ros.py" name="semantic_ros" >
		<remap from="semantic_1" to="sim/semantic"/>
	</node>
	
	
	<node pkg="habitat_ros_interface" type="rgb_ros.py" name="rgb_ros">
		<remap from="rgb_1" to="sim/rgb"/>
	</node>
	<node pkg="habitat_ros_interface" type="third_rgb_ros.py" name="third_rgb_ros">
		<remap from="third_rgb_1" to="sim/third_rgb"/>
	</node>
	<arg name="scene" default="17DRP5sb8fy"/>
	<arg name="driving" default="true"/>
	<node pkg="habitat_ros_interface" type="publish_feat.py" name="Feature_publish" output="screen" args="$(arg scene) $(arg driving)">
		<!-- <arg name="driving" value="$(arg driving)"/> -->
	</node>
	<!-- <node pkg="habitat_ros_interface" type="get_sdf_grid.py" name="get_sdf_grid" output="screen">
		<param name = "scene" value = "$(arg scene)" />
	</node> -->
	
    <arg name="map_file" default="$(find habitat_ros_interface)/maps/resolution_$(arg scene)_0.025.yaml"/>

  <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

	
	<node pkg="tf" type="static_transform_publisher" name="base_frame_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_frame laser 1" />
	<node pkg="tf" type="static_transform_publisher" name="map_to_decision_frame" args="0.0 0.0 0.0 -3.14 -3.14 0.0 /my_map_frame /map 1" />
	<!-- <node pkg="tf" type="static_transform_publisher" name="map_to_decision_frame" args="0.0 0.0 0.0 0.0 0.0 0.0 /my_map_frame /map 1" /> -->
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_base_frame" args="0.0 0.0 0.0 0.0 0.0 3.14 /base_frame /base_link 1" />
	<!-- <node pkg="tf" type="static_transform_publisher" name="base_frame_to_local_frame" args="1.5 -0.75 0.0 1.59 0.0 0.0 /base_link /local 1" /> -->
	<node pkg="tf" type="static_transform_publisher" name="base_frame_to_camera" args="0.0 -1.3 0.0 -0.4055798 -0.4055798 -0.579228 0.579228 camera_frame base_frame 5" />
	<!-- <node pkg="tf" type="static_transform_publisher" name="map_to_base_frame" args="0.0 0.0 0.0 0.0 0.0 0.0 map /base_frame 1" /> -->
	<!-- <node pkg="tf" type="static_transform_publisher" name="map_to_world_frame" args="0.0 0.48977 0.0 0.0 0.0 3.1415 map world 1" /> -->
	<!-- <node pkg="tf" type="static_transform_publisher" name="newworld_to_world_frame" args="0.0 -16.5572 0.0 0.0 0.0 3.1415 new_world world 1" /> -->

</launch>
